.upper{
  text-transform: uppercase !important;
}

.address{
 color: #735de0 !important;
 font-weight: bold;
}

.address1{
  font-size:1.3rem;
  text-transform: uppercase;

}

.sub_address{
  font-size:.9rem;
  color: #9e8bff;
  text-transform: capitalize;
}

.notice{
  background:yellow;
  color:green;
  padding:.5rem;
  border-radius: 2px;
  text-align: center;
  text-transform: capitalize;
  font-size: .8rem;;
}

.btn{
  background-color:var(--mn-clr) !important;
  color:white !important;
  cursor: pointer;
  min-height: 30px;
  min-width: 80px;
  border-radius: 5px;
  border: 1px solid white;
  /* padding:.2rem; */
  /* line-height: 25px; */
}

input{
  min-height:30px;
  min-width:30px;
  border-radius: 5px;
  /* border:1px solid white; */
  /* #9c9c9c */
  margin:.3rem 0;
  min-width:100%;
  border: 1px solid #735de0;
  background-color: transparent;
  padding:.5rem;
  font-weight: normal !important;
  color: var(--bd-clr);
}

input:checked{
  border-color: red !important;
}

input:active{
  /* border-color: red !important; */
  /* border-width: 5px; */
}

/* input: */

input:focus{
  /* border-color: red !important;
  border-width: 5px; */
}

.selector{
  display: inline-block;
  background: #afafaf00;
  color: #ab8bff;
  padding:.3rem .5rem;
  margin: .3rem .2rem;
  border: 1px solid #ab8bff;
  border-radius: 5px;
  text-transform: lowercase;
  font-size: .9rem;
  /* font-weight: 600; */
}


input:focus, textarea:focus{
  /* outline: 1px solid #735de0; */
  outline: none;
  box-shadow: 1px 2px 20px #735de0;
}


ol{
  /* margin-left: 1rem; */
}
